h1{
    background-color: white;
    margin: 0;
    padding: 5px 0px;
}

body {
	background: #aab3b0;
	color: black;
	font-family: Helvetica;
	text-align: center;
	margin: 0;
    
}
#segundoEncabezado{
    text-align: justify !important;
    padding-left: 10px;
}
#fechaUno{
    text-align: right !important;
    padding: 0;
    padding-right: 10px;
    margin: 0;
    opacity: 0.5;
}
.primeraImagen{
    background-color: white;
    display: block;
    margin: 50px 10px 50px 760px;
    width: 1000px;
    align-items: center;
}
#encabezadoDos{
    margin: 0;
}

p{
    text-align: left !important;
    padding-left: 10px ;
}
